In [13]:
import pandas as pd
from matplotlib import pyplot as plot
bac = pd.read_csv('bac.csv')

In [6]:
# Check for missing values
bac.isna().sum()

Date               0
Adj Close Price    0
dtype: int64

In [7]:
bac.columns

Index(['Date', 'Adj Close Price'], dtype='object')

In [8]:
# Convert to datetime
from datetime import datetime
bac['Date'] = pd.to_datetime(bac['Date'])

In [9]:
# Set index, use inplace=True
bac.set_index('Date', inplace=True)

In [10]:
bac.head()

            Adj Close Price
Date
1990-01-02         1.711862
1990-01-03         1.725632
1990-01-04         1.688917
1990-01-05         1.652200
1990-01-08         1.661379

In [11]:
# Provide the descriptive (summary) statistics

bac.describe()

       Adj Close Price
count      7507.000000
mean         16.313610
std          10.910945
min           0.699197
25%           7.526543
50%          14.318160
75%          23.844322
max          43.195049

In [17]:
#actual main imp section 4 Ml for time series 
bac = pd.read_csv("df_bankofamerica.csv", index_col=0, parse_dates=True)
# Convert the daily data to monthly data
bac= bac.resample(rule='M').last() # Don't use how='last', deprecated
# rule is monthly
# last means last day of the month

In [20]:
bac.describe()

       Adj Close Price
count       358.000000
mean         16.381505
std          10.949006
min           0.709480
25%           7.886336
50%          14.250627
75%          23.992900
max          42.624523

In [23]:
from pandas import DataFrame
# reframe as supervised learning
# lag observation (t-1) is the input variable and t is the output variable.
df3 = DataFrame()

In [24]:
# Create 12 months of lag values to predict current observation
# Shift of 12 months
for i in range(12,0,-1):
    df3[['t-'+str(i)]] = bac.shift(i)
print(df3)

                 t-12       t-11       t-10        t-9        t-8        t-7  \
Date
1990-01-31        NaN        NaN        NaN        NaN        NaN        NaN
1990-02-28        NaN        NaN        NaN        NaN        NaN        NaN
1990-03-31        NaN        NaN        NaN        NaN        NaN        NaN
1990-04-30        NaN        NaN        NaN        NaN        NaN        NaN
1990-05-31        NaN        NaN        NaN        NaN        NaN        NaN
1990-06-30        NaN        NaN        NaN        NaN        NaN        NaN
1990-07-31        NaN        NaN        NaN        NaN        NaN        NaN
1990-08-31        NaN        NaN        NaN        NaN        NaN   1.542054
1990-09-30        NaN        NaN        NaN        NaN   1.542054   1.687537
1990-10-31        NaN        NaN        NaN   1.542054   1.687537   1.469485
1990-11-30        NaN        NaN   1.542054   1.687537   1.469485   1.441042
1990-12-31        NaN   1.542054   1.687537   1.469485   1.441042   1.525887
1991-01-31   1.542054   1.687537   1.469485   1.441042   1.525887   1.476664
1991-02-28   1.687537   1.469485   1.441042   1.525887   1.476664   1.412676
1991-03-31   1.469485   1.441042   1.525887   1.476664   1.412676   1.341841
1991-04-30   1.441042   1.525887   1.476664   1.412676   1.341841   0.879137
1991-05-31   1.525887   1.476664   1.412676   1.341841   0.879137   0.709480
1991-06-30   1.476664   1.412676   1.341841   0.879137   0.709480   0.987102
1991-07-31   1.412676   1.341841   0.879137   0.709480   0.987102   1.002662
1991-08-31   1.341841   0.879137   0.709480   0.987102   1.002662   1.232781
1991-09-30   0.879137   0.709480   0.987102   1.002662   1.232781   1.282093
1991-10-31   0.709480   0.987102   1.002662   1.232781   1.282093   1.595426
1991-11-30   0.987102   1.002662   1.232781   1.282093   1.595426   1.699101
1991-12-31   1.002662   1.232781   1.282093   1.595426   1.699101   1.941008
1992-01-31   1.232781   1.282093   1.595426   1.699101   1.941008   1.707245
1992-02-29   1.282093   1.595426   1.699101   1.941008   1.707245   1.659489
1992-03-31   1.595426   1.699101   1.941008   1.707245   1.659489   1.916344
1992-04-30   1.699101   1.941008   1.707245   1.659489   1.916344   1.767501
1992-05-31   1.941008   1.707245   1.659489   1.916344   1.767501   1.854326
1992-06-30   1.707245   1.659489   1.916344   1.767501   1.854326   1.705483
...               ...        ...        ...        ...        ...        ...
2017-05-31  13.891438  12.506062  13.655829  15.281632  14.817692  15.622485
2017-06-30  12.506062  13.655829  15.281632  14.817692  15.622485  20.070972
2017-07-31  13.655829  15.281632  14.817692  15.622485  20.070972  21.002296
2017-08-31  15.281632  14.817692  15.622485  20.070972  21.002296  21.515472
2017-09-30  14.817692  15.622485  20.070972  21.002296  21.515472  23.454144
2017-10-31  15.622485  20.070972  21.002296  21.515472  23.454144  22.486622
2017-11-30  20.070972  21.002296  21.515472  23.454144  22.486622  22.248314
2017-12-31  21.002296  21.515472  23.454144  22.486622  22.248314  21.431974
2018-01-31  21.515472  23.454144  22.486622  22.248314  21.431974  23.201237
2018-02-28  23.454144  22.486622  22.248314  21.431974  23.201237  23.067348
2018-03-31  22.486622  22.248314  21.431974  23.201237  23.067348  22.964251
2018-04-30  22.248314  21.431974  23.201237  23.067348  22.964251  24.358061
2018-05-31  21.431974  23.201237  23.067348  22.964251  24.358061  26.328623
2018-06-30  23.201237  23.067348  22.964251  24.358061  26.328623  27.193789
2018-07-31  23.067348  22.964251  24.358061  26.328623  27.193789  28.497004
2018-08-31  22.964251  24.358061  26.328623  27.193789  28.497004  30.891064
2018-09-30  24.358061  26.328623  27.193789  28.497004  30.891064  30.987595
2018-10-31  26.328623  27.193789  28.497004  30.891064  30.987595  29.059349
2018-11-30  27.193789  28.497004  30.891064  30.987595  29.059349  28.991524
2018-12-31  28.497004  30.891064  30.987595  29.059349  28.991524  28.253801
2019-01-31  30.891064  30.987595  29.059349  28.991524  28.253801  27.426815
2019-02-28  30.987595  29.059349  28.991524  28.253801  27.426815  30.043983
2019-03-31  29.059349  28.991524  28.253801  27.426815  30.043983  30.092632
2019-04-30  28.991524  28.253801  27.426815  30.043983  30.092632  28.800983
2019-05-31  28.253801  27.426815  30.043983  30.092632  28.800983  26.884829
2019-06-30  27.426815  30.043983  30.092632  28.800983  26.884829  27.764694
2019-07-31  30.043983  30.092632  28.800983  26.884829  27.764694  24.223431
2019-08-31  30.092632  28.800983  26.884829  27.764694  24.223431  27.988678
2019-09-30  28.800983  26.884829  27.764694  24.223431  27.988678  28.734323
2019-10-31  26.884829  27.764694  24.223431  27.988678  28.734323  27.262035

                  t-6        t-5        t-4        t-3        t-2        t-1
Date
1990-01-31        NaN        NaN        NaN        NaN        NaN        NaN
1990-02-28        NaN        NaN        NaN        NaN        NaN   1.542054
1990-03-31        NaN        NaN        NaN        NaN   1.542054   1.687537
1990-04-30        NaN        NaN        NaN   1.542054   1.687537   1.469485
1990-05-31        NaN        NaN   1.542054   1.687537   1.469485   1.441042
1990-06-30        NaN   1.542054   1.687537   1.469485   1.441042   1.525887
1990-07-31   1.542054   1.687537   1.469485   1.441042   1.525887   1.476664
1990-08-31   1.687537   1.469485   1.441042   1.525887   1.476664   1.412676
1990-09-30   1.469485   1.441042   1.525887   1.476664   1.412676   1.341841
1990-10-31   1.441042   1.525887   1.476664   1.412676   1.341841   0.879137
1990-11-30   1.525887   1.476664   1.412676   1.341841   0.879137   0.709480
1990-12-31   1.476664   1.412676   1.341841   0.879137   0.709480   0.987102
1991-01-31   1.412676   1.341841   0.879137   0.709480   0.987102   1.002662
1991-02-28   1.341841   0.879137   0.709480   0.987102   1.002662   1.232781
1991-03-31   0.879137   0.709480   0.987102   1.002662   1.232781   1.282093
1991-04-30   0.709480   0.987102   1.002662   1.232781   1.282093   1.595426
1991-05-31   0.987102   1.002662   1.232781   1.282093   1.595426   1.699101
1991-06-30   1.002662   1.232781   1.282093   1.595426   1.699101   1.941008
1991-07-31   1.232781   1.282093   1.595426   1.699101   1.941008   1.707245
1991-08-31   1.282093   1.595426   1.699101   1.941008   1.707245   1.659489
1991-09-30   1.595426   1.699101   1.941008   1.707245   1.659489   1.916344
1991-10-31   1.699101   1.941008   1.707245   1.659489   1.916344   1.767501
1991-11-30   1.941008   1.707245   1.659489   1.916344   1.767501   1.854326
1991-12-31   1.707245   1.659489   1.916344   1.767501   1.854326   1.705483
1992-01-31   1.659489   1.916344   1.767501   1.854326   1.705483   2.106256
1992-02-29   1.916344   1.767501   1.854326   1.705483   2.106256   2.274755
1992-03-31   1.767501   1.854326   1.705483   2.106256   2.274755   2.462699
1992-04-30   1.854326   1.705483   2.106256   2.274755   2.462699   2.434872
1992-05-31   1.705483   2.106256   2.274755   2.462699   2.434872   2.555277
1992-06-30   2.106256   2.274755   2.462699   2.434872   2.555277   2.488385
...               ...        ...        ...        ...        ...        ...
2017-05-31  20.070972  21.002296  21.515472  23.454144  22.486622  22.248314
2017-06-30  21.002296  21.515472  23.454144  22.486622  22.248314  21.431974
2017-07-31  21.515472  23.454144  22.486622  22.248314  21.431974  23.201237
2017-08-31  23.454144  22.486622  22.248314  21.431974  23.201237  23.067348
2017-09-30  22.486622  22.248314  21.431974  23.201237  23.067348  22.964251
2017-10-31  22.248314  21.431974  23.201237  23.067348  22.964251  24.358061
2017-11-30  21.431974  23.201237  23.067348  22.964251  24.358061  26.328623
2017-12-31  23.201237  23.067348  22.964251  24.358061  26.328623  27.193789
2018-01-31  23.067348  22.964251  24.358061  26.328623  27.193789  28.497004
2018-02-28  22.964251  24.358061  26.328623  27.193789  28.497004  30.891064
2018-03-31  24.358061  26.328623  27.193789  28.497004  30.891064  30.987595
2018-04-30  26.328623  27.193789  28.497004  30.891064  30.987595  29.059349
2018-05-31  27.193789  28.497004  30.891064  30.987595  29.059349  28.991524
2018-06-30  28.497004  30.891064  30.987595  29.059349  28.991524  28.253801
2018-07-31  30.891064  30.987595  29.059349  28.991524  28.253801  27.426815
2018-08-31  30.987595  29.059349  28.991524  28.253801  27.426815  30.043983
2018-09-30  29.059349  28.991524  28.253801  27.426815  30.043983  30.092632
2018-10-31  28.991524  28.253801  27.426815  30.043983  30.092632  28.800983
2018-11-30  28.253801  27.426815  30.043983  30.092632  28.800983  26.884829
2018-12-31  27.426815  30.043983  30.092632  28.800983  26.884829  27.764694
2019-01-31  30.043983  30.092632  28.800983  26.884829  27.764694  24.223431
2019-02-28  30.092632  28.800983  26.884829  27.764694  24.223431  27.988678
2019-03-31  28.800983  26.884829  27.764694  24.223431  27.988678  28.734323
2019-04-30  26.884829  27.764694  24.223431  27.988678  28.734323  27.262035
2019-05-31  27.764694  24.223431  27.988678  28.734323  27.262035  30.216494
2019-06-30  24.223431  27.988678  28.734323  27.262035  30.216494  26.283806
2019-07-31  27.988678  28.734323  27.262035  30.216494  26.283806  28.810114
2019-08-31  28.734323  27.262035  30.216494  26.283806  28.810114  30.479113
2019-09-30  27.262035  30.216494  26.283806  28.810114  30.479113  27.329870
2019-10-31  30.216494  26.283806  28.810114  30.479113  27.329870  29.170000

[358 rows x 12 columns]

In [25]:
# Create column t
df3['t'] = bac.values
print(df3.head(13))

                t-12      t-11      t-10       t-9       t-8       t-7  \
Date
1990-01-31       NaN       NaN       NaN       NaN       NaN       NaN
1990-02-28       NaN       NaN       NaN       NaN       NaN       NaN
1990-03-31       NaN       NaN       NaN       NaN       NaN       NaN
1990-04-30       NaN       NaN       NaN       NaN       NaN       NaN
1990-05-31       NaN       NaN       NaN       NaN       NaN       NaN
1990-06-30       NaN       NaN       NaN       NaN       NaN       NaN
1990-07-31       NaN       NaN       NaN       NaN       NaN       NaN
1990-08-31       NaN       NaN       NaN       NaN       NaN  1.542054
1990-09-30       NaN       NaN       NaN       NaN  1.542054  1.687537
1990-10-31       NaN       NaN       NaN  1.542054  1.687537  1.469485
1990-11-30       NaN       NaN  1.542054  1.687537  1.469485  1.441042
1990-12-31       NaN  1.542054  1.687537  1.469485  1.441042  1.525887
1991-01-31  1.542054  1.687537  1.469485  1.441042  1.525887  1.476664

                 t-6       t-5       t-4       t-3       t-2       t-1  \
Date
1990-01-31       NaN       NaN       NaN       NaN       NaN       NaN
1990-02-28       NaN       NaN       NaN       NaN       NaN  1.542054
1990-03-31       NaN       NaN       NaN       NaN  1.542054  1.687537
1990-04-30       NaN       NaN       NaN  1.542054  1.687537  1.469485
1990-05-31       NaN       NaN  1.542054  1.687537  1.469485  1.441042
1990-06-30       NaN  1.542054  1.687537  1.469485  1.441042  1.525887
1990-07-31  1.542054  1.687537  1.469485  1.441042  1.525887  1.476664
1990-08-31  1.687537  1.469485  1.441042  1.525887  1.476664  1.412676
1990-09-30  1.469485  1.441042  1.525887  1.476664  1.412676  1.341841
1990-10-31  1.441042  1.525887  1.476664  1.412676  1.341841  0.879137
1990-11-30  1.525887  1.476664  1.412676  1.341841  0.879137  0.709480
1990-12-31  1.476664  1.412676  1.341841  0.879137  0.709480  0.987102
1991-01-31  1.412676  1.341841  0.879137  0.709480  0.987102  1.002662

                   t
Date
1990-01-31  1.542054
1990-02-28  1.687537
1990-03-31  1.469485
1990-04-30  1.441042
1990-05-31  1.525887
1990-06-30  1.476664
1990-07-31  1.412676
1990-08-31  1.341841
1990-09-30  0.879137
1990-10-31  0.709480
1990-11-30  0.987102
1990-12-31  1.002662
1991-01-31  1.232781

In [26]:
# Create a new subsetted dataframe, removing Nans from first 12 rows
df3_bac = df3[13:]
print(df3_bac)

                 t-12       t-11       t-10        t-9        t-8        t-7  \
Date
1991-02-28   1.687537   1.469485   1.441042   1.525887   1.476664   1.412676
1991-03-31   1.469485   1.441042   1.525887   1.476664   1.412676   1.341841
1991-04-30   1.441042   1.525887   1.476664   1.412676   1.341841   0.879137
1991-05-31   1.525887   1.476664   1.412676   1.341841   0.879137   0.709480
1991-06-30   1.476664   1.412676   1.341841   0.879137   0.709480   0.987102
1991-07-31   1.412676   1.341841   0.879137   0.709480   0.987102   1.002662
1991-08-31   1.341841   0.879137   0.709480   0.987102   1.002662   1.232781
1991-09-30   0.879137   0.709480   0.987102   1.002662   1.232781   1.282093
1991-10-31   0.709480   0.987102   1.002662   1.232781   1.282093   1.595426
1991-11-30   0.987102   1.002662   1.232781   1.282093   1.595426   1.699101
1991-12-31   1.002662   1.232781   1.282093   1.595426   1.699101   1.941008
1992-01-31   1.232781   1.282093   1.595426   1.699101   1.941008   1.707245
1992-02-29   1.282093   1.595426   1.699101   1.941008   1.707245   1.659489
1992-03-31   1.595426   1.699101   1.941008   1.707245   1.659489   1.916344
1992-04-30   1.699101   1.941008   1.707245   1.659489   1.916344   1.767501
1992-05-31   1.941008   1.707245   1.659489   1.916344   1.767501   1.854326
1992-06-30   1.707245   1.659489   1.916344   1.767501   1.854326   1.705483
1992-07-31   1.659489   1.916344   1.767501   1.854326   1.705483   2.106256
1992-08-31   1.916344   1.767501   1.854326   1.705483   2.106256   2.274755
1992-09-30   1.767501   1.854326   1.705483   2.106256   2.274755   2.462699
1992-10-31   1.854326   1.705483   2.106256   2.274755   2.462699   2.434872
1992-11-30   1.705483   2.106256   2.274755   2.462699   2.434872   2.555277
1992-12-31   2.106256   2.274755   2.462699   2.434872   2.555277   2.488385
1993-01-31   2.274755   2.462699   2.434872   2.555277   2.488385   2.632370
1993-02-28   2.462699   2.434872   2.555277   2.488385   2.632370   2.542552
1993-03-31   2.434872   2.555277   2.488385   2.632370   2.542552   2.451830
1993-04-30   2.555277   2.488385   2.632370   2.542552   2.451830   2.537608
1993-05-31   2.488385   2.632370   2.542552   2.451830   2.537608   2.644831
1993-06-30   2.632370   2.542552   2.451830   2.537608   2.644831   2.974979
1993-07-31   2.542552   2.451830   2.537608   2.644831   2.974979   3.034035
...               ...        ...        ...        ...        ...        ...
2017-05-31  13.891438  12.506062  13.655829  15.281632  14.817692  15.622485
2017-06-30  12.506062  13.655829  15.281632  14.817692  15.622485  20.070972
2017-07-31  13.655829  15.281632  14.817692  15.622485  20.070972  21.002296
2017-08-31  15.281632  14.817692  15.622485  20.070972  21.002296  21.515472
2017-09-30  14.817692  15.622485  20.070972  21.002296  21.515472  23.454144
2017-10-31  15.622485  20.070972  21.002296  21.515472  23.454144  22.486622
2017-11-30  20.070972  21.002296  21.515472  23.454144  22.486622  22.248314
2017-12-31  21.002296  21.515472  23.454144  22.486622  22.248314  21.431974
2018-01-31  21.515472  23.454144  22.486622  22.248314  21.431974  23.201237
2018-02-28  23.454144  22.486622  22.248314  21.431974  23.201237  23.067348
2018-03-31  22.486622  22.248314  21.431974  23.201237  23.067348  22.964251
2018-04-30  22.248314  21.431974  23.201237  23.067348  22.964251  24.358061
2018-05-31  21.431974  23.201237  23.067348  22.964251  24.358061  26.328623
2018-06-30  23.201237  23.067348  22.964251  24.358061  26.328623  27.193789
2018-07-31  23.067348  22.964251  24.358061  26.328623  27.193789  28.497004
2018-08-31  22.964251  24.358061  26.328623  27.193789  28.497004  30.891064
2018-09-30  24.358061  26.328623  27.193789  28.497004  30.891064  30.987595
2018-10-31  26.328623  27.193789  28.497004  30.891064  30.987595  29.059349
2018-11-30  27.193789  28.497004  30.891064  30.987595  29.059349  28.991524
2018-12-31  28.497004  30.891064  30.987595  29.059349  28.991524  28.253801
2019-01-31  30.891064  30.987595  29.059349  28.991524  28.253801  27.426815
2019-02-28  30.987595  29.059349  28.991524  28.253801  27.426815  30.043983
2019-03-31  29.059349  28.991524  28.253801  27.426815  30.043983  30.092632
2019-04-30  28.991524  28.253801  27.426815  30.043983  30.092632  28.800983
2019-05-31  28.253801  27.426815  30.043983  30.092632  28.800983  26.884829
2019-06-30  27.426815  30.043983  30.092632  28.800983  26.884829  27.764694
2019-07-31  30.043983  30.092632  28.800983  26.884829  27.764694  24.223431
2019-08-31  30.092632  28.800983  26.884829  27.764694  24.223431  27.988678
2019-09-30  28.800983  26.884829  27.764694  24.223431  27.988678  28.734323
2019-10-31  26.884829  27.764694  24.223431  27.988678  28.734323  27.262035

                  t-6        t-5        t-4        t-3        t-2        t-1  \
Date
1991-02-28   1.341841   0.879137   0.709480   0.987102   1.002662   1.232781
1991-03-31   0.879137   0.709480   0.987102   1.002662   1.232781   1.282093
1991-04-30   0.709480   0.987102   1.002662   1.232781   1.282093   1.595426
1991-05-31   0.987102   1.002662   1.232781   1.282093   1.595426   1.699101
1991-06-30   1.002662   1.232781   1.282093   1.595426   1.699101   1.941008
1991-07-31   1.232781   1.282093   1.595426   1.699101   1.941008   1.707245
1991-08-31   1.282093   1.595426   1.699101   1.941008   1.707245   1.659489
1991-09-30   1.595426   1.699101   1.941008   1.707245   1.659489   1.916344
1991-10-31   1.699101   1.941008   1.707245   1.659489   1.916344   1.767501
1991-11-30   1.941008   1.707245   1.659489   1.916344   1.767501   1.854326
1991-12-31   1.707245   1.659489   1.916344   1.767501   1.854326   1.705483
1992-01-31   1.659489   1.916344   1.767501   1.854326   1.705483   2.106256
1992-02-29   1.916344   1.767501   1.854326   1.705483   2.106256   2.274755
1992-03-31   1.767501   1.854326   1.705483   2.106256   2.274755   2.462699
1992-04-30   1.854326   1.705483   2.106256   2.274755   2.462699   2.434872
1992-05-31   1.705483   2.106256   2.274755   2.462699   2.434872   2.555277
1992-06-30   2.106256   2.274755   2.462699   2.434872   2.555277   2.488385
1992-07-31   2.274755   2.462699   2.434872   2.555277   2.488385   2.632370
1992-08-31   2.462699   2.434872   2.555277   2.488385   2.632370   2.542552
1992-09-30   2.434872   2.555277   2.488385   2.632370   2.542552   2.451830
1992-10-31   2.555277   2.488385   2.632370   2.542552   2.451830   2.537608
1992-11-30   2.488385   2.632370   2.542552   2.451830   2.537608   2.644831
1992-12-31   2.632370   2.542552   2.451830   2.537608   2.644831   2.974979
1993-01-31   2.542552   2.451830   2.537608   2.644831   2.974979   3.034035
1993-02-28   2.451830   2.537608   2.644831   2.974979   3.034035   3.174294
1993-03-31   2.537608   2.644831   2.974979   3.034035   3.174294   3.159529
1993-04-30   2.644831   2.974979   3.034035   3.174294   3.159529   3.325421
1993-05-31   2.974979   3.034035   3.174294   3.159529   3.325421   3.021034
1993-06-30   3.034035   3.174294   3.159529   3.325421   3.021034   2.967236
1993-07-31   3.174294   3.159529   3.325421   3.021034   2.967236   3.124650
...               ...        ...        ...        ...        ...        ...
2017-05-31  20.070972  21.002296  21.515472  23.454144  22.486622  22.248314
2017-06-30  21.002296  21.515472  23.454144  22.486622  22.248314  21.431974
2017-07-31  21.515472  23.454144  22.486622  22.248314  21.431974  23.201237
2017-08-31  23.454144  22.486622  22.248314  21.431974  23.201237  23.067348
2017-09-30  22.486622  22.248314  21.431974  23.201237  23.067348  22.964251
2017-10-31  22.248314  21.431974  23.201237  23.067348  22.964251  24.358061
2017-11-30  21.431974  23.201237  23.067348  22.964251  24.358061  26.328623
2017-12-31  23.201237  23.067348  22.964251  24.358061  26.328623  27.193789
2018-01-31  23.067348  22.964251  24.358061  26.328623  27.193789  28.497004
2018-02-28  22.964251  24.358061  26.328623  27.193789  28.497004  30.891064
2018-03-31  24.358061  26.328623  27.193789  28.497004  30.891064  30.987595
2018-04-30  26.328623  27.193789  28.497004  30.891064  30.987595  29.059349
2018-05-31  27.193789  28.497004  30.891064  30.987595  29.059349  28.991524
2018-06-30  28.497004  30.891064  30.987595  29.059349  28.991524  28.253801
2018-07-31  30.891064  30.987595  29.059349  28.991524  28.253801  27.426815
2018-08-31  30.987595  29.059349  28.991524  28.253801  27.426815  30.043983
2018-09-30  29.059349  28.991524  28.253801  27.426815  30.043983  30.092632
2018-10-31  28.991524  28.253801  27.426815  30.043983  30.092632  28.800983
2018-11-30  28.253801  27.426815  30.043983  30.092632  28.800983  26.884829
2018-12-31  27.426815  30.043983  30.092632  28.800983  26.884829  27.764694
2019-01-31  30.043983  30.092632  28.800983  26.884829  27.764694  24.223431
2019-02-28  30.092632  28.800983  26.884829  27.764694  24.223431  27.988678
2019-03-31  28.800983  26.884829  27.764694  24.223431  27.988678  28.734323
2019-04-30  26.884829  27.764694  24.223431  27.988678  28.734323  27.262035
2019-05-31  27.764694  24.223431  27.988678  28.734323  27.262035  30.216494
2019-06-30  24.223431  27.988678  28.734323  27.262035  30.216494  26.283806
2019-07-31  27.988678  28.734323  27.262035  30.216494  26.283806  28.810114
2019-08-31  28.734323  27.262035  30.216494  26.283806  28.810114  30.479113
2019-09-30  27.262035  30.216494  26.283806  28.810114  30.479113  27.329870
2019-10-31  30.216494  26.283806  28.810114  30.479113  27.329870  29.170000

                    t
Date
1991-02-28   1.282093
1991-03-31   1.595426
1991-04-30   1.699101
1991-05-31   1.941008
1991-06-30   1.707245
1991-07-31   1.659489
1991-08-31   1.916344
1991-09-30   1.767501
1991-10-31   1.854326
1991-11-30   1.705483
1991-12-31   2.106256
1992-01-31   2.274755
1992-02-29   2.462699
1992-03-31   2.434872
1992-04-30   2.555277
1992-05-31   2.488385
1992-06-30   2.632370
1992-07-31   2.542552
1992-08-31   2.451830
1992-09-30   2.537608
1992-10-31   2.644831
1992-11-30   2.974979
1992-12-31   3.034035
1993-01-31   3.174294
1993-02-28   3.159529
1993-03-31   3.325421
1993-04-30   3.021034
1993-05-31   2.967236
1993-06-30   3.124650
1993-07-31   3.171874
...               ...
2017-05-31  21.431974
2017-06-30  23.201237
2017-07-31  23.067348
2017-08-31  22.964251
2017-09-30  24.358061
2017-10-31  26.328623
2017-11-30  27.193789
2017-12-31  28.497004
2018-01-31  30.891064
2018-02-28  30.987595
2018-03-31  29.059349
2018-04-30  28.991524
2018-05-31  28.253801
2018-06-30  27.426815
2018-07-31  30.043983
2018-08-31  30.092632
2018-09-30  28.800983
2018-10-31  26.884829
2018-11-30  27.764694
2018-12-31  24.223431
2019-01-31  27.988678
2019-02-28  28.734323
2019-03-31  27.262035
2019-04-30  30.216494
2019-05-31  26.283806
2019-06-30  28.810114
2019-07-31  30.479113
2019-08-31  27.329870
2019-09-30  29.170000
2019-10-31  30.170000

[345 rows x 13 columns]

In [27]:
# save to new file
df3_bac.to_csv('mybac_lags_12months_features.csv')